<div class="flex justify-content-center align-items-center min-h-screen">
    <div class="card">
        <h2 class="text-center">{{'AUTH_FORM_REGISTER' | translate}}</h2>
        <p class="text-center">{{'AUTH_FORM_NOTE' | translate}}</p>
      
      <form [formGroup]="form" (submit)="submit()">
        <div class="p-fluid">
            <div class="field">
              <span class="p-input-icon-left">
                <i class="pi pi-user"></i>
                <input type="text" pInputText [placeholder]="'AUTH_FORM_LABEL_NAME' | translate" formControlName="name"/>
              </span>
            </div>
      
            <div class="field">
                <span class="p-input-icon-left">
                    <i class="pi pi-envelope"></i>
                    <input type="email" pInputText [placeholder]="'AUTH_FORM_LABEL_EMAIL' | translate" formControlName="email"/>
                </span>
            </div>
    
            <div class="field">
                <p-password [toggleMask]="true" [feedback]="false" [placeholder]="'AUTH_FORM_LABEL_PASSWORD' | translate" formControlName="password"/>
            </div>
    
            <div class="field">
                  <p-password [toggleMask]="true" [feedback]="false" [placeholder]="'AUTH_FORM_LABEL_PASSWORD_MATCH' | translate" formControlName="password_confirmation"/>
            </div>
      
            <button pButton [label]="'AUTH_FORM_REGISTER' | translate" class="p-button-primary w-full"></button>
      
            <div class="text-center mt-3">
              <p>{{'AUTH_FORM_INFO_REGISTER' | translate}} - <a [routerLink]="['/auth', 'login']">{{'AUTH_FORM_LOGIN' | translate}}</a>
            </div>
          </div>
      </form>
    </div>
  </div>
  