<div class="task-list-container">
  <div class="task-header">
    <button
      pButton
      [label]="'BUTTON_ADD' | translate"
      icon="pi pi-plus"
      (click)="showTaskDialog()"
      severity="info"
    ></button>
    <h2>{{ 'HOME_TITLE' | translate }}</h2>
    <div>
      <p-dropdown
        [options]="languages"
        [(ngModel)]="selectedLanguage"
        optionLabel="name"
        [style]="{ width: '160px' }"
        (onChange)="changeLanguage()"
      >
        <ng-template pTemplate="selectedItem" let-item>
          <div class="language-item">
            <img
              *ngIf="item"
              [src]="item.flag"
              alt="{{ item.name }}"
              width="24"
              style="margin-right: 10px"
            />
            <span *ngIf="item">{{ item.name }}</span>
          </div>
        </ng-template>

        <ng-template pTemplate="item" let-item>
          <div class="language-item">
            <img
              [src]="item.flag"
              alt="{{ item.name }}"
              width="24"
              style="margin-right: 10px"
            />
            <span>{{ item.name }}</span>
          </div>
        </ng-template>
      </p-dropdown>

      <button
        pButton
        [label]="'BUTTON_LOGOUT' | translate"
        icon="pi pi-sign-out"
        severity="danger"
        (click)="logout()"
        class="ml-3"
      ></button>
    </div>
  </div>

  <ng-container *ngIf="$tasks | async as taskList">
    <!-- vazifalar bo'limi -->
    <div class="task-section card" pDroppable="true" (onDrop)="dropTask(0)">
      <h3>{{'HOME_TODO' | translate}}</h3>
      <ul class="task-list" *ngIf="getTasksByStatus(0, taskList) as taskTodo">
        <li
          *ngFor="let task of taskTodo"
          pDraggable="true"
          (onDragStart)="dragStart(task)"
          class="grid"
        >
          <div class="col-1">
            <p-checkbox
              [binary]="true"
              [ngModel]="task.completed === 1"
              (onChange)="toggleTaskStatus(task)"
            >
            </p-checkbox>
          </div>
          <div class="col-3">
            <span>{{ task.title }}</span>
          </div>
          <div class="col-5">
            <span>{{ task.description }}</span>
          </div>
          <div class="col-2">
            <span class="task-info">
              <i class="pi pi-calendar"></i>
              {{ task.created_at | date : "dd.MM.yyy HH:mm" }}
            </span>
          </div>
          <div class="col-1">
            <span class="p-buttonset">
              <ng-container>
                <button
                  (click)="showTaskDialog(task.id)"
                  pButton
                  icon="pi pi-pencil"
                  class="p-button-info"
                ></button>
              </ng-container>
              <ng-container>
                <button
                  (click)="delete(task.id!)"
                  pButton
                  icon="pi pi-trash"
                  class="p-button-danger"
                ></button>
              </ng-container>
            </span>
          </div>
        </li>

        <li *ngIf="taskTodo.length == 0">
          <p class="text-center col-12">{{'HOME_NODATA' | translate}}</p>
        </li>
      </ul>
    </div>

    <!-- bajarilgan vazifalar bo'limi -->
    <div class="task-section card" pDroppable="true" (onDrop)="dropTask(1)">
      <h3>{{'HOME_COMPLATED' | translate}}</h3>
      <ul class="task-list" *ngIf="getTasksByStatus(1, taskList) as taskDone">
        <li
          *ngFor="let task of taskDone"
          pDraggable="true"
          (onDragStart)="dragStart(task)"
        >
          <div class="col-1">
            <p-checkbox
              [binary]="true"
              [ngModel]="task.completed === 1"
              (onChange)="toggleTaskStatus(task)"
            >
            </p-checkbox>
          </div>
          <div class="col-3">
            <span>{{ task.title }}</span>
          </div>
          <div class="col-5">
            <span>{{ task.description }}</span>
          </div>
          <div class="col-2">
            <span class="task-info">
              <i class="pi pi-calendar"></i>
              {{ task.created_at | date : "dd.MM.yyy HH:mm" }}
            </span>
          </div>
          <div class="col-1">
            <span class="p-buttonset">
              <ng-container>
                <button
                  (click)="showTaskDialog(task.id)"
                  pButton
                  icon="pi pi-pencil"
                  class="p-button-info"
                ></button>
              </ng-container>
              <ng-container>
                <button
                  (click)="delete(task.id!)"
                  pButton
                  icon="pi pi-trash"
                  class="p-button-danger"
                ></button>
              </ng-container>
            </span>
          </div>
        </li>
        <li *ngIf="taskDone.length == 0">
          <p class="text-center col-12">{{'HOME_NODATA' | translate}}</p>
        </li>
      </ul>
    </div>
  </ng-container>
</div>
