<div class="grid p-fluid">
  <div class="col-12">
    <div class="card">
      <form [formGroup]="form" (submit)="submit()">
          <div class="p-grid">
            <div class="p-field p-col-12 mb-3">
              <label for="title">vazifa nomi</label>
              <input id="title" pInputText formControlName="title"/>
            </div>
            <div class="p-field p-col-12 mb-3">
              <label for="description">qo'shimcha ma'lumotlari</label>
              <textarea id="description" pInputTextarea formControlName="description"></textarea>
            </div>
          </div>
          <div class="flex-row">
            <button
              pButton
              type="button"
              label="bekor qilish"
              icon="pi pi-times"
              class="p-button-danger"
              (click)="back()"
            ></button>
            <button pButton label="saqlash" icon="pi pi-check"></button>
          </div>
      </form>
    </div>
  </div>
</div>
